<div class="img-rounded">
    <img src="~/images/NetflucksLogo.png" width="350" height="135" />
</div>

@{
    ViewData["Title"] = "About Us";
}

<div class="page-header">
    <h3>@ViewData["Title"]</h3>
</div>

<div>
    <p> Netflucks is a Canadian media services provider headquatered in Toronto, Canada, founded in 2018 by Ryan Watson and David Gwyn.  The company's
        primary business is its subscription based media streaming media service which offers online streamining of a library of films and television
        programs.
    </p>
</div>


