<div class="img-rounded">
    <img src="~/images/NetflucksLogo.png" width="350" height="135" />
</div>

@{
    ViewData["Title"] = "Contact Us";
}

<div class="page-header">
    <h2>@ViewData["Title"]</h2>
</div>

<div class="container">
    <div class="row">
        <p>
            Do you have questions? Please do not hesitate to contact us directly.  Our team will respond within 24 hours.
        </p>
        <br />
    </div>    
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-1">
            <img src="~/images/address.png" />
        </div>
        <div class="col-lg-3">
            <p>Toronto, ON L0K 1A0, Canada</p>
        </div>
    </div>
</div>

<br />

<div class="container">
    <div class="row">
        <div class="col-lg-1">
            <img src="~/images/phone.png" />
        </div>
        <div class="col-lg-3">
            <p>(888) 898-7615</p>
        </div>
    </div>
</div>

<br />

<div class="container">
    <div class="row">
        <div class="col-lg-1">
            <img src="~/images/email.png" />
        </div>
        <div class="col-lg-3">
            <p>support@netflucks.com</p>
        </div>
    </div>
</div>